.hidden {
  display: none;
}

body {
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}

.master-container {
  width: 85%;
  margin: 0 auto;
}

.bookmark-list {
  margin-top: 30px;
}

.bookmark-li {
  list-style: none;
  border: 2px solid #777;
  margin: 10px;
  padding: 30px;
  box-shadow: 2px 2px #e0e0e0;
}

.bookmark-li > h3 {
  margin: 5px;
  text-shadow: 1px 1px #ececec;
}

.rating-view {
  margin-top: 15px;
  margin-left: 5px;
}

.rating-view > img {
  width: 10px;
  height: 10px;
}

.js-expand {
  float: right;
}