.hidden {
  display: none;
}

button, select {
  background-color: #FAFBFC;
  border-radius: 4px;
}

body {
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  background-color: #27476E;
  color: #fff;
}

.master-container {
  width: 70%;
  margin: 0 auto;
}

.header {
  margin: 0 auto;
  background-color: 006992;
}

h1 {
  text-shadow: 2px 2px #333;
}

.bookmark-list {
  margin-top: 30px;
}

.bookmark-li {
  background-color: #006992;
  width: 80%;
  margin: 10px auto;
  list-style: none;
  border: 2px solid #ED8A19;
  padding: 30px;
  box-shadow: 4px 4px #001D4A;
  border-radius: 6px;
}

.bookmark-li > h3 {
  margin: 5px;
  text-shadow: 2px 2px #333;
}

.bookmark-li > p {
  font-size: 16px;
}

.rating-view {
  margin-top: 15px;
  margin-left: 5px;
}

.rating-view > img {
  width: 15px;
  height: 15px;
}

.expand-button, .close-button {
  font-size: 14px;
  float: right;
  border: 2px;
  width: 50px;
  height: 20px;
  border-radius: 4px;
  box-shadow: 2px 2px #333;
}