html {
  background: #606c88;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #3f4c6b, #606c88);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #3f4c6b, #606c88); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.hidden {
  display: none;
}

button, select, input {
  background-color: #FAFBFC;
  border-radius: 4px;
  height: 20px;
  font-size: 12px;
}

body {
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}

.master-container {
  width: 70%;
  margin: 0 auto;
}

.header {
  margin: 0 auto;
}

h1 {
  text-shadow: 2px 2px #333;
}

.bookmark-list {
  margin-top: 30px;
  margin-bottom: 50px;
}

.bookmark-li {
  background-color: #606c88;
  width: 80%;
  margin: 10px auto;
  list-style: none;
  border: 2px solid #7C90A0;
  padding: 30px;
  box-shadow: 4px 4px #3f4c6b;
  border-radius: 6px;
}

.bookmark-li > h3 {
  margin: 5px;
  text-shadow: 2px 2px #3f4c6b;
  font-weight: 100;
  font-size: 24px;
}

.bookmark-li > p {
  font-size: 16px;
}

.rating-view {
  margin-top: 15px;
  margin-left: 5px;
}

.rating-view > img {
  width: 15px;
  height: 15px;
}

.expand-button, .close-button {
  font-size: 14px;
  float: right;
  border: 2px;
  width: 30px;
  height: 20px;
  border-radius: 4px;
  box-shadow: 2px 2px #3f4c6b;
}